/* 全局滚动条样式 */
::-webkit-scrollbar {
  width: 12px; /* 滚动条宽度 */
  height: 12px; /* 滚动条高度（适用于水平滚动条） */
}

::-webkit-scrollbar-track {
  background: white; /* 滚动条轨道背景色 */
  border-radius: 10px; /* 轨道圆角 */
}

::-webkit-scrollbar-thumb {
  background: rgb(221,222,224); /* 滚动条拇指的背景色 */
  border-radius: 10px; /* 拇指圆角 */
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(199,201,204); /* 当鼠标悬停时，滚动条拇指的背景色 */
}